* {
  font-family: 'Inter', sans-serif;
  /* margin-bottom: 20px; */
}

/* MAIN CONTAINER */
.login {
  display: flex;
  justify-content: center;
  border-radius: 40px;
}

/* REG AND AUTH HEADINGS */
.header {
  margin-top: 10px;
  padding-top: 7px;
}

.header1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;;
}

/* EFFECTS */
.live {
  background-color: rgb(248, 249, 250);
  animation: pulse 1700ms infinite;
}

@keyframes pulse {
  0% {
    box-shadow: #e9e9ec 0 0 0 0;
  }

  75% {
    box-shadow: rgb(195, 146, 224) 0 0 0 5px;
  }
}
