.text-title {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #000000;
}


.container-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.container-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
