@import url('https://rsms.me/inter/inter.css');

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  font-family: 'Inter';
  font-style: normal;
}

.catdog {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.container_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: #F1F1FF;
  border: none;
}

.dark .card {
  background-color: rgb(21, 32, 43);
}

.container_friend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.findAFriend {
  width: 96%;
  height: 100%;

}

.findServMain {
  justify-content: center;

}

.findServ {
  margin-top: 10%;
  width: 25%;
  height: 20%;
  display: flex;
  margin-left: 35%;
}

.text_title {
  width: 65%;
  height: 10%;
  padding: 10px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: rgba(0, 0, 0, 0.72);
}

.text_main {
  width: 495px;
  height: 102px;
  padding: 10px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.72);
}

.ContsinerTitleOurServices {
  display: flex;
  justify-content: center;
}

.titleOurServices {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3%;
  line-height: 36px;
  color: #434347;
}

.textNewsletter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 10px;
  margin-bottom: 3%;
  color: rgba(0, 0, 0, 0.72);
}

.inputNewsletter {
  padding-left: 5px;
  width: 500px;
  height: 50px;
  background: #FFFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10%;
}

.btnNewsletter {
  width: 170px;
  height: 50px;
  background: rgba(23, 116, 254, 0.55);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.72);
}

.footer_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  align-items: flex-end;
}

.footer_links1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 1%;
}

.footer_links2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 1%;
}

.textFooterLinks {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #F1F1FF;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer_body {
  display: flex;
  flex-direction: row;
}



/* для уменьшения экрана */

@media (min-width: 427px) and (max-width: 1400px) {
  .text_title {
    width: 80%;
    height: 10%;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
  }

  .text_main {
    width: 495px;
    height: 52px;
  }

  .titleOurServices {
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 2%;
  }

  .textNewsletter {
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
    margin-bottom: 3%;
  }

  .inputNewsletter {
    width: 300px;
    height: 40px;
    border-radius: 5px;
  }

  .btnNewsletter {
    width: 120px;
    height: 45px;
    margin-left: 10px;
    font-size: 15px;
  }

}

@media screen and (max-width: 426px) {
  .mainPage {
    align-items: center;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .text_title {
    width: 300px;
    height: 50px;
    padding: 15px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.72);
  }

  .text_main {
    width: 300px;
    margin: 10px 0;
    padding: 15px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.72);
  }

  .titleOurServices {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    color: #434347;
    margin: 10% 10%;
  }

  .container_link {
    position: none;
    flex-direction: column;
  }

  .findServ {
    margin-top: 10%;
    width: 50%;
    height: 20%;
    display: flex;
    margin-left: 35%;
  }

  .textNewsletter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    margin-bottom: 4%;
    color: rgba(0, 0, 0, 0.72);
  }

  .btnAndInputNewsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .inputNewsletter {
    width: 100%;
    height: 30px;
    background: #FFFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .btnNewsletter {
    width: 150px;
    height: 50px;
    background: rgba(23, 116, 254, 0.55);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.72);
  }

  .textFooterLinks {
    padding: 3px 0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: grey;
  }

  .footer_img {
    display: none;
  }

  .footer_body {
    align-items: flex-start;
  }
}
